

<div class="jumbotron">
	<h2>Thank you for participating in our survey.</h2>
	<p>The survey comprises of two parts.</p>
	<p>Read carefully the instructions provided at the top of each of the following pages and complete each step.</p>
	<p>It should not take you more than five minutes.</p>
	<p>Your answers are anonymously stored and will help us design the next generation of recommender systems.</p>
	<p>Click "Next" when you are ready!</p>
</div>
<div data-no-turbolink>
	<a id="description_button" class="btn btn-primary btn-lg pull-right" style="width: 100%;" href="<%= story_path%>">Next</a>
</div>

