<div class="jumbotron">
    
        <div class="text-center"><h2>Thank you for your time!<h2></div>
        <div>
        <h3>Go ahead and copy paste the survey code below to claim the amazon HIT and get paid!</h3>
    	</div>
    	<div class="text-center">
        <h3><%= @mturk_code%></h3>
    	</div>
</div>
</div>